python-dotenv
langchain
langchain_experimental
pandas
matplotlib
scikit-learn
sentence-transformers
fastapi
uvicorn
requests
langchain-google-genai
tabulate
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
